::placeholder {
    color: rgb(204, 197, 197) !important;
}

@media (min-width:768px) {
    nav button {
        display: none;
    }
}

.collapse, .navbar-collapse {
    background-color: whitesmoke;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #343a40!important;
}

button {
    margin-bottom: 2px;
}
 #chicken,#beef,#sushi{
     background-color: #A0A7AE !important;
 }